<main class="main">

    <a style="position: absolute;top:32px;color:#f4f4f4;font-size:20px;" class="breadcrumb" routerLink="">Volver</a>

    <form [formGroup]="form" (ngSubmit)="onUpdate()" class="form p-4">

        <h2 class="text-center mb-2">Editar perfil</h2>

        <label for="nombre" class="mb-2">Nombre</label>
        <input id="nombre" type="text" formControlName="nombre" class="form__input border-0 p-2 mb-4 text-white">
        <label for="titulo" class="mb-2">Título</label>
        <input id="titulo" type="text" formControlName="titulo" class="form__input border-0 p-2 mb-3 text-white">
        <label for="descripcion" class="mb-2">Descripción</label>
        <input id="descripcion" type="textarea" formControlName="descripcion" class="form__input border-0 p-2 mb-3 text-white">
        <label for="imagen_perfil" class="mb-2">Imágen de perfil (URL)</label>
        <input id="imagen_perfil" type="text" formControlName="imagen_perfil" class="form__input border-0 p-2 mb-3 text-white">
        <label for="imagen_portada" class="mb-2">Imágen de portada (URL)</label>
        <input id="imagen_portada" type="text" formControlName="imagen_portada" class="form__input border-0 p-2 mb-3 text-white">

        <button [disabled]="!form.valid" type="submit" class="btn btn-primary py-2 mt-4">Actualizar</button>
    </form>

</main>