@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5em;
}

html {
    scroll-behavior: smooth;
}

.reveal {
    transform: translateY(120px);
    opacity: 0;
    transition: transform .8s ease-in-out, opacity .8s ease-in-out;
}

.active {
    transform: none;
    opacity: 1;
}

.container {
    margin: 0 auto;
    max-width: 1120px;
    height: 100%;
}

.about-section {
    background-color: #001A33;
    /* background-image: url(img/portfolio-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    height: 100vh;
    max-height: 1080px;
}

.about-container {
    display: flex;
    align-items: center;
}

.about {
    margin: 32px;
    max-width: 520px;
}

.about__greet, .about__description {
    color: #ccc;
    font-size: 22px;
}

.about__title {
    color: #fff;
    font-weight: 700;
    font-size: 60px;
}
