.logo {
    max-height: 34px;
}

.link {
    align-self: center;
    text-decoration: none;
    color: #f4f4f4;
    cursor: pointer;
}

.link:hover {
    background-color: #fff4;
}

.github-icon {
    fill: #f4f4f4;
    height: 32px;
    align-self: center;
}
