.background {
    display: grid;
    grid: 100vh / 100%;
    background: url("/assets/img/login-bg-dark.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.box-color {
    display: inline-block;
    width: 24px;
    height: 12px;
}

.form__input {
    background-color: #4d5767;
}