<div class="container">
    <h2 class="fw-bold my-5 text-center text-muted">PROYECTOS</h2>
    <div #reveal [@reveal]="isActive? 'active' : 'hidden'" class="row flex-wrap-reverse shadow-lg my-5 mx-4 mx-md-0">
        <!-- <div #reveal [@reveal]="isActive? 'active' : 'hidden'" class="row flex-wrap-reverse shadow-lg my-5 mx-4 mx-md-0"> -->
        <div class="col-12 col-md p-0 text-center my-auto">
            <h4 class="my-4 text-muted fw-bold">Mi portafolio personal</h4>
            <p class="m-4 text-secondary">Despliegue Full-Stack adaptable de mi perfil como desarrollador web</p>
            <p class="m-4 text-secondary fw-bold">Angular, Bootstrap, Java</p>
        </div>
        <div class="col-12 col-md p-0">
            <img src="assets/img/banner.png" class="h-100 w-100 object-fit-cover" alt="Portafolio" >
        </div>
    </div>
</div>