<div class="background">
    <div class="container my-5">

        <a class="bg-white rounded-2 py-2 px-3 la-dark text-decoration-none" routerLink="">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="me-1" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z" />
            </svg>
            Volver
        </a>

        <div class="form-container my-5 mx-auto">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="d-flex flex-column bg-white rounded-2 p-4">

                <h2 class="text-center mb-2">Bienvenid@</h2>
                <p class="text-center mb-4">Inicia sesión para utilizar funciones adicionales</p>

                <label for="username" class="mb-2">USUARIO</label>
                <input id="username" type="text" formControlName="username" class="form__input border-0 p-2 mb-3 text-white">
                <label for="password" class="mb-2">CONTRASEÑA</label>
                <input id="password" type="password" formControlName="password" class="form__input border-0 p-2 mb-3 text-white">

                <div *ngIf="username?.errors && username?.touched">
                    <p *ngIf="username?.hasError('required')" class="text-danger">El nombre de usuario es requerido.</p>
                    <p *ngIf="username?.hasError('minlength')" class="text-danger">El nombre de usuario debe tener al menos 6 caracteres.</p>
                    <p *ngIf="username?.hasError('maxlength')" class="text-danger">El nombre de usuario debe tener 14 caracteres como máximo.</p>
                </div>

                <div *ngIf="password?.errors && password?.touched">
                    <p *ngIf="password?.hasError('required')" class="text-danger">La contraseña es requerida.</p>
                    <p *ngIf="password?.hasError('minlength')" class="text-danger">La contraseña debe tener al menos 8 caracteres.</p>
                    <p *ngIf="password?.hasError('maxlength')" class="text-danger">La contraseña debe tener 16 caracteres como máximo.</p>
                </div>

                <button [disabled]="!form.valid" type="submit" class="btn btn-primary py-2 mt-4">Iniciar sesión</button>
            </form>
        </div>
        
    </div>
</div>
